body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    box-shadow: 30px 0px 40px rgb(196,196,196), -30px 0px 40px rgb(196,196,196);
    margin: auto;
    max-width: 900px;
}

.photo {
    margin-left: 7%;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
}

.des {
    margin-left: 25%;
    margin-top: -10%;
}

h3 {
    color: #13c3ba;
    font-weight: bold;
}

.post {
    color: orange;
    font-weight: bold;
}

.right p {
    margin-left: 600px;
}

.info {
    width: 20px;
    height: 20px;
}

.section-left, .section-right {
    width: 400px;
    float: left;
}

.section-right {
    float: right;
}

h4 {
    margin-left: 10%;
    color: #13c3ba;
    font-size: 18px;
}

hr.light {
    border-top: 2px solid #13c3ba;
    width: 90%;
}

.atouts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
}

.div {
    margin-left: 10%;
}

.skls {
    margin-left: 10%;
}

.cool {
    border: 2px solid #ccc;
    width: 300px;
}

.inner {
    height: 7px;
    background-color: orange;
}

.interet {
    margin-left: 10%;
}
.experience p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
.langues p {
    margin-left: 10%;
}

.langues .cool {
    margin-left: 10%;
}
